body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

html {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.88) 0%, rgba(229.25, 229.25, 229.25, 0.88) 65%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-title {
  position: absolute;
  text-align: center;
  color: #808080;
  font-size: clamp(14px, 2vw, 16px);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  top: 2vh;
}

.main-title {
  position: absolute;
  text-align: center;
  color: black;
  font-size: clamp(48px, 8vw, 96px);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
  top: 25vh;
  width: 100%;
}

.subtitle {
  position: absolute;
  text-align: center;
  color: black;
  font-size: clamp(24px, 4vw, 36px);
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  top: 40vh;
  width: 100%;
}

.nav-container {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: clamp(2rem, 5vw, 6.5rem);
  top: 55vh;
  width: 100%;
}

.nav-item {
  color: black;
  font-size: clamp(18px, 2vw, 24px);
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  text-align: center;
}

.nav-item::after  {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

.nav-item:hover::after {
  width: 100%;
}



.scroll-text {
  position: absolute;
  text-align: center;
  color: black;
  font-size: clamp(18px, 2vw, 24px);
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  bottom: 5vh;
  width: 100%;
}

.icon-container {
  position: absolute;
  display: flex;
  gap: 2rem;
  top: 65vh;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.social-icon {
  width: 48px;
  height: 48px;
}
